@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
	<form asp-action="SendResetPasswordEmail" class="col-6 my-4">
		<div asp-validation-summary="ModelOnly"></div>

		<input asp-for="Email" placeholder="Email" required="">
		<br />
		<input type="submit" value="Reset Password">
	</form>


</div>
</div>
	

