@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />

<div class="text-center">

    <h1 class="display-4" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:60px ;color:deeppink">Welcome To Our Company Honey </h1>
    <font-awesome-icon :icon="['fas', 'heart']" />
    <br />
    <i class="fa-regular fa-heart fa-4x" style="color:deeppink"></i>
    <i class="fa-regular fa-heart fa-4x" style="color:deeppink"></i>
    <i class="fa-regular fa-heart fa-4x" style="color:deeppink"></i>
    <i class="fa-regular fa-face-smile-wink fa-5x"></i>




</div>
