@using IKEA.DAL.Common.Enums
@model CreateEmployeeDto

@{
   
    // ViewBag.Action = "Create";
}
<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 my-4" style="color:lightpink"> Add New Employee</h1>

    <form asp-action="Create" method="post" class="col-5" enctype="multipart/form-data">


    <partial name="Partials/CreateUpdateFormPartial" />
   
    </form>
</div>
@* @section Validation
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
} *@
<partial name="_ValidationScriptsPartial" />
