@model EmployeeEditViewModel
@{
   
    var Departments = new SelectList(ViewData["Departments"] as IEnumerable<GetAllDepartmentDto>, nameof(GetAllDepartmentDto.Id), nameof(GetAllDepartmentDto.Name));
    ViewBag.Action = "Update";

}
<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 my-4" style="color:lightpink"> Update  Employee</h1>


    <form asp-action="Update" asp-route_Id="@Model.Id" method="post" class="col-6 ; mb-2 ">



    <partial name="Partials/CreateUpdateFormPartial" />
    

</form>
</div>

<partial name="_ValidationScriptsPartial" />
