@model EmployeeEditViewModel
@{
   
    // var Departments = new SelectList(ViewData["Departments"] as IEnumerable<GetAllDepartmentDto>, nameof(GetAllDepartmentDto.Id), nameof(GetAllDepartmentDto.Name));
    // ViewBag.Action = "Update";

}
<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 my-4" style="color:lightpink"> Update  Employee</h1>



    <form asp-action="Update" method="post" class="col-5" enctype="multipart/form-data">


    <partial name="Partials/CreateUpdateFormPartial" />
    </form>

</div>

<partial name="_ValidationScriptsPartial" />


