@model EmployeeEditViewModel
@{
   
    var Departments = new SelectList(ViewData["Departments"] as IEnumerable<GetAllDepartmentDto>, nameof(GetAllDepartmentDto.Id), nameof(GetAllDepartmentDto.Name));
    ViewBag.Action = "Update";

}


<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 my-4" style="color:lightpink"> Update  Employee</h1>

    <partial name="Partials/CreateUpdateFormPartial" />
    
</div>

<partial name="_ValidationScriptsPartial" />
