@model DepartmentEditViewModel
@{
    ViewData["Title"] = "Update";
    ViewBag.Action = "Update";

}



<div class="row justify-content-center align-items-center flex-column">

    <h1 class="col-6 my-4" style="color:black"> Update Department</h1>

       <partial name="Partials/CreateUpdateFormPartial" />

</div>
@* @section Validation
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
} *@

<partial name="_ValidationScriptsPartial" />

